h2 Forgot your Password?
p Try some&nbsp;
  a(href="http://www.brightfocus.org/alzheimers/resources/memorygames.html", target="_blank") Memory Games
  | &nbsp;or take a look at&nbsp;
  br
  a(href="http://www.lifehack.org/articles/technology/10-free-ways-to-track-all-your-passwords.html", target="_blank") Ten free ways to track all your passwords
br
p ..Or enter your account email below and click "submit."
  <br> We'll send you a link to reset your password.
form#reset-form(method="post", action="/account/reset", onsubmit="account.forgot($(this)); return false;")
    .field
      input(type='email', name='email', value='', placeholder='email address', required, data-parsley-type="email", data-required-message="We need a valid email to activate your account.")
    input.next.submit(type='submit', value='submit')
    p Don't have an account?&nbsp;
      a.actually-sign-up(href='#', onclick="openModal( '', '/account/sign-up/', 'sign-up'); return false;", value='signup', data-modaltype='signup openmodal') Create one here!
