h2 Login
form#login-form.standard(method="post", action="/account/login", onsubmit="Account.login($(this)); return false;")
    .field
      input(type='email', name='email', value='', placeholder='email address', required, data-parsley-type="email", data-required-message="We need a valid email to activate your Account.")
    .field
      input(type='password', name="password" placeholder='password')
    input.next.submit(type='submit', value='login')
    p
      a.reset-password(href="#", onclick="openModal( '', 'account/forgot', 'forgot-pass'); return false;", data-modaltype="forgot-pass") Forgot my password
      | &nbsp; | &nbsp;
      a.actually-sign-up(href='#', onclick="openModal( '', '/account/sign-up/', 'sign-up'); return false;", data-modaltype='signup') Create new account
