h2 Login
form#login-form.standard(method="post", action="/account/login", onsubmit="account.login($(this)); return false;")
    .field
      input(type='email', name='email', value='', placeholder='email address', required, data-parsley-type="email", data-required-message="We need a valid email to activate your account.")
    .field
      input(type='password', name="password" placeholder='password')
    input.next.submit(type='submit', value='login')
    p Don't have an account?&nbsp;
      a.actually-sign-up(href='#', onclick="openModal( '', '/account/sign-up/', 'sign-up'); return false;", value='signup', data-modaltype='signup openmodal') Create one here!
