if !user
  h2 Please login to view your profile.
else
  - if (user.masterGardener == true) { masterGardener = 'checked'; } else { masterGardener = 'false' }
  h2 Profile for #{user.name}
  .profile
    .field
      .username username:
        span.editable(name='username') user.name
    .field
      .email email:
        span.editable(name='email') user.email
    .field
      a.password change password?
        form.new-password(method="post", action="/account/newpass")
          .field
            input(name="old-password", placeholder="old password")
          .field
            input(name="password", placeholder="new password")
          .field
            input(name="password-confirm", placeholder="confirm new password")
  .bio
    .field
      .location Location:
        if user.location
          span.editable(name="location") user.location
        else
          a.add-field(name="location") add location
    .field
      .reasons Reasons for Gardening:
        if user.reasons
          span.editable(name="reasons") user.reasons
        else
          a.add-field(name="reasons") add reasons
    .field
      .bio Gardener Bio:
        if user.bio
          span.editable(name="bio") user.bio
        else
          a.add-field(name="bio") add location
    .field
      .location Master Gardener?
        input.editable(type="checkbox", masterGardener, name="masterGardener")


include ../snippets/footer-lite.jade
