#signup.content.sign-up
    h2 Sign Up for Y2G
    p.note When you sign up with Y2G, you can create and respond to listings, and connect with gardeners nearby you.
      form.standard#sign-up-form.signup.standard(onsubmit="Account.signup('#sign-up-form'); return false;")
        if createListing
          input(type='hidden', name="createListing", value="true")
        .field.required
          input(type='text', name="name", value="", placeholder="Display Name", required)
          p.note Choose any name you like.<br> We recommend just your first name.
        .field.required
          input#UserEmail(type='email', name='email', value='', placeholder='email', required, data-parsley-type="email", data-required-message="We need a valid email to activate your Account.")
          //, data-ajax-name="email",, data-parsley-remote-options='{ "type": "GET",  "data": { "field": "email" } }', data-parsley-errors-messages-disabled="1", data-parsley-remote-validator="validateEmail", data-parsley-remote="1", data-parsley-trigger="focusout", data-parsley-id="2315")
        .field.required
          input(type='password', name='password', value='', placeholder='password', required)
        a.note.show-gardener-profile-signup(href="#") Add your gardener profile &nbsp;=)
        div.gardener-profile-signup
          p.note This is your gardener profile. This info will be visible to other gardeners.
          .field
            input(type='text', name='location', value='', placeholder='location, country, or zip')
          .field
            textarea(name='reasons', value='', placeholder='reasons for gardening')
          .field
            textarea(name='bio', value='', placeholder='Say a little something about your history with gardens - your gardener bio.')
          .field
            label List as a Master Gardener:
            br
            span Yes&nbsp;
            input(type='checkbox', value='true', name='master_gardener')
            | &nbsp;&nbsp;
            a.note(data-tooltip="If you list as a master gardener, then people looking for gardening advice nearby will be able to message you with questions. It's a great way to meet people in the neighborhood! Make sure you enter your location.<br><br>We will let you know once we activate this.") (more info)
        input.next(type='submit', value="Sign Up")
    #login_profile
script(type="text/javascript", src="/javascripts/page/signup.js")
