if !user
  h2 You must be logged in to view listings
  include ../account/mustlogin.jade
  include ../snippets/footer-lite.jade
else
  h2 Your Listings
  each listing, i in listings
    h3= listing.title
    h4= listing.latLng.lat
  include ../snippets/footer-profile.jade
