
/* above iphone portrait */
@media (min-width: 415px) {

  .container {
    background:url(../../images/layout/tablet/footer-grass-sheep.gif) bottom center repeat-x;
    background-size: 100%;
  }
  .admin {
    float: none;
  }
  .admin {
    margin-top: 0px;
    position: fixed;
    top: 0;
    right: 60px;
    left: auto;
  }
  .menu-main {
    background: url(../../images/svg/gardener-half.svg) 10px center no-repeat;
    background-size: 100px;
  }
  .login_button {
    margin:0 10px 0 0;
    font-size:11px;
    text-transform:uppercase;
    font-weight: normal;
    display: inline-block;
  }
  .login_button:after, .profile > a:first-child:after {
    content: '|';
    display: inline-block;
    margin-left: 10px;
  }
  .login_button:hover:after, .profile > a:first-child:hover:after {
    color: black;
  }
  .signup:after, .logout:after {
    content: '';
    margin-left: 0;
  }
  .logged-in .logout {
    display: inline-block;
  }

  header .social {
    bottom: -2px;
    padding-top: 14px;
    position: relative;
  }
  header .social a {
    font-size: 19px;
    margin-left: 10px;
    margin-right: 0;
  }

  .modal_content .footer-lite {
    position: absolute;
  }


}


@media (min-width: 500px) {
  .box-listing-buttons .box-dotted {
    width: 49%;
    padding: 16% 0 1%;
    margin-right: 1%;
  }
  .box-listing-buttons .box-dotted:nth-child(2n) {
    margin-right: 0;
  }
  .box-listing-buttons .box-dotted:first-child {
    margin-top: 0;
  }
  .box-listing-buttons .box-dotted .description {
    padding-right: 7%;
  }
}

@media (min-width: 650px) {

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu, .menu-open .mobile-menu {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    background: none;
    padding: 0;
    margin-right: 0;
    height: auto;
    z-index: auto;
    box-shadow:none;
  }
  .mobile-menu-bg {
    display: none;
  }
  .container {
    padding-top: 0;
  }
  /* header */
  .header_wrap {
    height:85px;
    position:relative;
    border-bottom:5px solid black;
  }
  header {
    padding: 20px 10px 0;
  }
  header .logo {
    margin-top: 6px;
  }
  header .logo img {
    width: 300px;
    max-width: 450px;
    height: auto;
  }
  .nav {
    padding-right: 0;
    border: none;
    margin-top: 17px;
    height: 40px;
  }
  .admin {
    position: absolute;
    top: -12px;
    right: 0px;
  }
  .menu-wrap {
    margin-top: 30px;
  }
  .menu-main {
    padding-right: 0;
    background: none;
  }
  .menu li {
    display: inline-block;
  }
  .menu li a {
    padding: 1px 10px 0;
    border-left:2px solid black;
    font-size: 14px;
  }
  .new-listing .choose-type {
    margin-bottom: 15px;
  }
  .new-listing .choose-type a span {
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
  }
  .map_wrap.show-listings .location_tool {
    right: 430px;
  }

  .map_wrap.show-listings .show_listings {
    right: 317px;
  }
    .map_wrap.show-listings .listings_wrap {
      border-top: 30px solid black;
    }
  .listings_wrap .listings {
    padding:15px;
  }

  .footer_wrap {
    min-height: 25px;
  }
}


/* Above ipad portrait */

@media (min-width: 768px) {
  .menu li a {
    font-size: 16px;
    padding: 1px 13px 0;
  }
  .home .content_wrap .content .post{
    width: 70%;
    padding-right: 30%;
  }
}

/* Above ipad portrait */
@media (min-width: 769px) {

  /* New Listing Modal */
  .new-listing .choose-type a {
    width: 22%;
    padding-top: 22%;
  }
  .new-listing .choose-type a:nth-child(2n) {margin-right: 4%;}
  .new-listing .choose-type a:last-child {margin-right: 0;}

  .new-listing {
    padding-top: 0;
  }
  .new-listing .steps {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }


}



@media (min-width: 900px) {
  .home .content_wrap .content .post{
    width:30%;
    padding-right: 0%;
  }
  .box-listing-buttons .box-dotted:nth-child(2n-1) {
    margin-left: 5%;
  }
  .box-listing-buttons .box-dotted {
    width: 32%;
    padding-top: 10%;
  }
}

@media (min-width: 940px) {

  .modal-login {
    width: 600px !important;
    margin-left: -300px !important;
  }
  .footer_wrap {
    min-height: 35px;
  }

}

/* Above ipad landscape */
@media (min-width: 1080px) {

  .container {
    background:url(../../images/layout/footer-grass-sheep-wide.gif) bottom center repeat-x;
    background-size: auto;
  }
  .footer_wrap {
    min-height: 30px;
  }
  footer .credit {
    margin-right: 0;
  }

}
