@charset "UTF-8";
/*

MAP

PAGES
- /resources/sheepnomore - guide to help Y2G
- /resources/
- /admin (separate privileges)
  - view flagged listings
  - edit any listing
  - message any user
  - edit site content

Listings
- add URL to public listings?
- clicking on a name should show the user info (need another display box method) - make qtip

Needs Format/Style
***- message
- No listings message

Sharing
- Send a note about Y2G to email addresses.

Create listing
***- Integrate pieces of listing (square footage, other info);
- Bulk create
- Green Check? (need from Jesse) for selecting location

Message
- make sure "I'm not a robot" is actually being checked
- allow message sending through website? yeah - mostly the same as any old send
- make reply-to email different from "from" address - then you can add a gravatar

Profile
- "settings updated" message when saved
- add image to profile?

Profile-View
- Need redirect or message if user not found

Create Account
- Add User to Mailchimp (volunteer list) - checkbox
- after first time logging in - ask if they want to list as a master gardener
- after deleting account - delete all listings, send email about how to stay involved, remove from mailing list

Local Storage Save
- what gets stored? timeouts?
    - search center/location, login session id,
- location saved on getLocation & in account

Url Parameters
- You must be logged in (flagging = flag after login)
- Show Individual Listing

Mobile
- add webkit scroll to body

Add Google Analytics - track:
- listing info
  - clicks
  - contacts
- user info
  - contacts
  - listings
- errors?

Security & Errors:
- Add errors for when people aren't connected to the internet (disable buttons?)
- different db user with only read priveleges for "login"
- remove console logs of passwords/account info

Imagery
- animated gif of plants growing at the bottom of modals

Launch
- Make sure Mandrill only works from server IP
- Remove users page (and other extraneous db calls)
- Change mailserver in DNS to y2g.org
- always redirect to https
- Write article about development process
- Setup cache
- Concetate Scripts
- Bar Listings API from outside sources


.
*/


html { height: 100% }
body { height: 100%; margin: 0; padding: 0;
  font-family:'Roboto Condensed';
  font-weight:100;
}



/* General Styles */
a {
  text-decoration: none;
  color: #2ebadb;
}
a:hover {
  color: #2ebadb;
  text-decoration:underline;
}
a[data-tooltip] {
  cursor: pointer;
}
a.fa:hover {
  text-decoration: none;
}


h1 {
  font-size:35px;
  font-weight:bold;
  line-height:35px;
  margin-bottom:15px;
}
.post h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 28px;
  text-transform: Capitalize;
  margin: 0 10% 7px 0;
}
.post h3 {
  font-size: 16px;
  margin: 0 10% 6px 0;
  text-transform: uppercase;
}

.post p + h2, .post p + h3, .post ul + h2, .post ul + h3, .post ol + h2, .post ol + h3 {
  margin-top: 25px;
}
.post h3 + p {
  margin-top: -5px;
}

.post ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
  .post ul li {
    list-style: disc;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 25px;
  }
  ul.block-items:after {
    content: '';
    display: block;
    clear: both;
  }
  ul.block-items li {
    display: inline-block;
    padding: 2px 8px;
    margin: 3px 3px;
    float: left;
    border: 1px solid #82c341;
    background: #ffe98a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
.post ol {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
  .post ol li {
    list-style: decimal;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 25px;
  }

.left {
  float:left;
}
.left-align {
  text-align: left;
}
.right {
  float:right;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.clear {
  clear:both;
}
.box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lc { text-transform:lowercase; }

.fa {
  font-family:'FontAwesome';
}

.success, .alert-success {
  color: #82c341;
}
  .success-box {
    background-color: #82c341;
    color: white;
  }
.info, .alert-info {
  color: #515048;
}
  .info-box {
    background-color: #515048;
    color: white;
  }
.error, .alert-error {
  color: #c92128;
}
  .error-box {
    border: 1px solid #c92128;
  }

.green {

}
.light-green {
  color: #3fa947;
}
.light-blue {
  color: #2ebadb;
}
.orange {
  color: #e3662b;
}
.red {
  color: #f0523a;
}
.purple {
  color: #c383a7;
}
.clearfix:after {
  content: '';
  height: 0;
  clear: both;
  width: 100%;
  display: block;
}

.menu {
  padding:0 0;
  position:relative;
}

.menu li {
  display:block;
}

.menu li a {
  padding:5px 0 5px 5px;
  font-size:16px;
  height:16px;
  line-height:16px;
  display:inline-block;
  font-weight:bold;
  text-transform:uppercase;
  color: black;
}
.menu li:first-child a {
  padding-left:0;
  border-left:none;
}
.menu li:last-child a {
  padding-right:0;
}

.tool input, .tool textarea, .map_wrap .location_tool input, .map_wrap .location_tool textarea {
}
.map_wrap .location_tool .address_input {
  padding: 10px 8px 10px 30px;
  font-size: 20px;
  line-height: 20px;
  width: 273px;
  background: url(/images/layout/y2g_sprites.png) -9px -11px no-repeat white;
}
.map_wrap .location_tool input:-webkit-autofill, .address_input, .map_wrap .location_tool input:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0 50px white inset;
   -webkit-text-fill-color: #000;
}

.map_wrap .location_tool .address_input::-webkit-input-placeholder { font-size: 18px; line-height: 20px;}
.map_wrap .location_tool .address_input:-moz-placeholder { font-size: 18px; line-height: 20px; }
.map_wrap .location_tool .address_input::-moz-placeholder { font-size: 18px; line-height: 20px; }
.map_wrap .location_tool .address_input:-ms-input-placeholder { font-size: 18px; line-height: 20px; }

.map_wrap .location_tool .address_input:focus {

}
.map_wrap .location_tool .submit {
  padding: 15px 8px 12px;
  width: 30px;
  position: absolute;
  background: #f05139;
  color: white;
  right: 12px;
}



/* Layout Styles */

.container {
  padding:45px 0 0;
  position:relative;
  background:url(/images/layout/mobile/footer-grass-sheep.gif) bottom center repeat-x;
  background-size:100%;
}
body.search .container {
  background:white;
}

header, .content_wrap .content, footer, .map_wrap .map_tools_bottom, .map_tools_top {
  max-width:940px;
  padding:0 10px;
  position:relative;
  margin:0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  .content_wrap .content {
    padding: 0 25px;
  }

header_wrap {
  position:fixed;
  background: white;
  top: 0;
  left: 0;
  width:100%;
  z-index:100;
}


.map_wrap {
  width:100%;
  position:relative;
}
.map_wrap .map_container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.map_canvas {
  position:relative;
  width:100%;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.map_tools {
  height:100%;
}

.lower_wrap {
  box-shadow:0px -3px 3px #adadad;
  border-top:5px solid black;
  position:relative;
}
.content_wrap {
  width:100%;
  position:relative;
}
.content_wrap .content {
  padding:0 10px ;
}

.footer_wrap {
  width:100%;
  position:relative;
}
footer {

}


/* Alt Layouts */
/* Wide */
.page-wide .content_wrap .content {
  max-width: 100%;
}
.page-wide .content_wrap .content .post, .page-wide .content_wrap .content .post.left {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  display: block;
  float: none;
}





/* Header Styles */

.header_wrap {
  height:45px;
  box-shadow:0px 0px 10px black;
  background: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header {
  padding:10px 10px 0 ;
}
  header a {
    color: black;
  }

header .logo {
  z-index: 101;
  position: relative;
}
header .logo img {
  width: 74px;
  height: 28px;
  max-width: 100%;
}

.mobile-menu-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 26px;
  height: 23px;
  background: url(/images/svg/mobile-menu.svg) no-repeat top left 100%;
  z-index: 101;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 45px 0 0;
  overflow: hidden;
  height: 0;
  z-index: 100;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}
.menu-open .mobile-menu {
  height: 140px;
  box-shadow:0px 5px 5px #979b91;
}
.mobile-menu-bg {
  display: none;
  background: rgba(0,0,0,.1);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 99;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}
.menu-open .mobile-menu-bg {
  display: block;
}

.admin {
  position: absolute;
  top: 57px;
  left: 10px;
  z-index: 10;
}
.nav {
  padding: 0 0;
  background: rgba(255,255,255,.95);
  height: 100%;
  width: 100%;
  text-align:right;
  border-top: 1px solid #979b91;
}
.menu-wrap {
  float: right;
}
.menu-main {
  padding: 10px 10px 0 0;
}
.login_button {
  padding: 5px 5px 5px 0;
  color: #919191;
  text-align: left;
  font-size: 16px;
  height: 14px;
  line-height: 16px;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
}
  .login_button.messages {
    display: inline-block;
    display: none;
  }
  .login_button.fa-envelope-o {
  }
    .login_button.fa-envelope:before {
      text-indent: 0;
      display: inline-block;
      color: #bbbcbb;
      font-size: 16px;
    }
    .profile .login_button:first-child {
      display: inline-block;
      margin-right: 8px;
    }
    .login_button.fa-envelope:hover:before {
      color: #2ebadb;
    }
header .social {
  padding-top:28px;
  display:inline-block;
}
header .social a {
  margin-right:18px;
  color: #919191;
  font-size:25px;
  line-height:20px;
  display:inline-block;
  font-family:FontAwesome;
}
header .social a:hover {
  text-decoration: none;
}

header .social a.fb:hover {
  color:#00195c;
}
header .social a.tw:hover {
  color:#00a5bc;
}
header .social a.pi:hover {
  color:#de343e;
}

.menu-wrap {
  text-align:right;
  margin-top:8px;
}




/* Map Styles */

.map_wrap {
  height:350px;
  background:#efece4;
}


.field .map_canvas {
  height:200px;
  width:300px;
  padding:0;
}
.location_map-container {
  width:300px;
  height:300px;
}
.map_canvas > div, .map_canvas > div > div:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*.info-window {
width:400px;
min-height:100px;
}*/
._ibani_2220 > div {
  overflow: visible;
}
.info-window-wrap {
  height: 280px;
  width: 280px;
  overflow: visible;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  .info-window-wrap:after {
    content: '';
    display: block;
    width: 70px;
    height: 49px;
    background: url(/images/map/infowindow.arrow-reversed.png) bottom right no-repeat;
    position: absolute;
    bottom: -33px;
    left: 167px;
  }
  .info-window-close-img {
    width: 20px !important;
    height: 20px !important;
    top: 10px !important;
    right: 10px !important;
  }
  .info-window-parent {
    margin-top: -20px;
  }
.info-window-wrap div {
}
.info-window {
  padding:12px;
  display:block;
  height:270px;
  border: 6px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.info-window * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.info-window_inner_wrap {
  overflow: auto;
  height: 190px;
  margin-right: -10px;
  padding: 0 14px 10px 0;
}
  .info-window_inner_wrap:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 62px;
    left: 12px;
    height: 30px;
    right: 12px;
    background: url(/images/layout/fade-post.png) bottom left repeat-x;
  }
.info-window h4 {
  text-transform:uppercase;
  font-size:16px;
  font-weight:bold;
  margin-bottom:5px;
  padding-right: 20px;
}
.info-window a.thumb {
  float:left;
  padding:0 5px 5px 0;
}
.info-window div.info span {
  display:block;
  font-size:13px;
  text-transform:uppercase;
}
.info-window div.info span a {
  color: black;
}
.info-window .description {
  clear:left;
  font-size:14px;
  font-weight:normal;
  padding:5px 0 10px;
}
.info-window .contact {
  background:#f05139;
  display:inline-block;
  height:23px;
  width:110px;
  padding:4px 8px 0;
  color:white;
  font-weight:normal;
  font-size:12px;
  text-transform:uppercase;
  position:absolute;
  bottom: 32px;
  left: 19px;
}
.info-window .contact .fa {
  font-size:12px;
}
.info-window .contact:hover {
  background:#000;
  text-decoration:none;
}
.info-window .flag {
  text-indent:-999em;
  display:inline-block;
  height:23px;
  width:22px;
  border:1px solid #000;
  background:url(/images/layout/y2g_sprites.png) no-repeat;
  background-position:0 -229px;
  position:absolute;
  bottom:32px;
  left:136px;
}
.info-window .flag:hover {
  border:1px solid #f05139;
  background-position:0 -202px;
}

#clear-data {
  position:absolute;
  width:20px;
  height:20px;
  background:red;
  left:100px;
  top:6px;
  z-index: 10;
  opacity: .5;
}
.address_field {
  position:absolute;
  width:150px;
  top:3px;
  left:200px;
  z-index: 70;
  padding:3px;
  font-size: 12px;
}
#distance {
  position:absolute;
  width:110px;
  top:7px;
  left:370px;
  z-index: 75;
  padding:3px;
  font-size: 12px;
}

.map_wrap .listings_wrap {
  top:0;
  right:10px;
  width:200px;
  height:100%;
  position:absolute;
  z-index: 70;
  background: white;
  display: block;
  border-top: 0 px solid black;
  border-bottom: 0 px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
  .map_wrap.show-listings .listings_wrap {
    border: 4px solid black;
    border-top: 30px solid black;
    border-bottom: 15px solid black;
    height: 60px;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
  }
.listings_wrap .listings {
  overflow:auto;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.map_wrap .location_tool {
  position:absolute;
  min-width:27px;
  min-height:23px;
  right:132px;
  top:0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
  .map_wrap.show-listings .location_tool {
    right: 315px;
  }
.location_tool .current_location {
  opacity: 0;
  position:absolute;
  right: 28px;
  top: 0;
  height: 30px;
  line-height: 16px;
  font-size: 13px;
  color: grey;
  background: white;
  width: 0;
  overflow: hidden;
  padding: 7px 0 5px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition:width .5s ease-in-out 0, opacity 0, border 0, background-color 0 linear 0s;
  -moz-transition:width .5s ease-in-out 0, opacity 0, border 0, background-color 0 linear 0s;
  -o-transition:width .5s ease-in-out 0, opacity 0, border 0, background-color 0 linear 0s;
  transition:width .5s ease-in-out 0, opacity 0, border 0, background-color 0 linear 0s;
}
  .location_tool:hover .current_location, .current_location:hover {
    background: #f7f2b2;
    -webkit-transition: background-color 0 linear 0s;
    -moz-transition: background-color 0 linear 0s;
    -o-transition: background-color 0 linear 0s;
    transition: background-color 0 linear 0s;
  }
  .location_tool.closed .current_location {
    opacity: 1;
    padding: 7px 10px 5px;
    width: 150px;
    white-space: nowrap;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transition:width .5s ease-in-out 2.5s, padding .5s ease-in-out 2.5s, opacity 0, border 0s ease-in-out 2.5s, background-color 0 linear 0s;
    -moz-transition:width .5s ease-in-out 2.5s, padding .5s ease-in-out 2.5s, opacity 0, border 0s ease-in-out 2.5s, background-color 0 linear 0s;
    -o-transition:width .5s ease-in-out 2.5s, padding .5s ease-in-out 2.5s, opacity 0, border 0s ease-in-out 2.5s, background-color 0 linear 0s;
    transition:width .5s ease-in-out 2.5s, padding .5s ease-in-out 2.5s, opacity 0, border 0s ease-in-out 2.5s, background-color 0 linear 0s;
  }
  .location_tool.closed .current_location .location {
    display: inline-block;
    margin-left: 8px;
    width: 83px;
    overflow: hidden;
    color: black;
    height: 13px;
  }
.map_wrap .location_tool .wrap {
  position:relative;
  height:100%;
  width:100%;
}
.map_wrap .location_tool .icon {
  background:url(/images/layout/y2g_sprites.png) center 5px no-repeat black;
  width:28px;
  height:30px;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-15px;
  display: none;
}
  .location_tool.closed .icon {
    display: block;
  }
.map_wrap .location_tool .icon:hover {
  background-color:#5a5a5a;
}
.map_wrap .location_tool .tools {
  display:none;
  padding:10px;
  background:black;
  width:28px;
  height:30px;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-15px;
  box-shadow: 3px 3px 10px black;
  z-index: 75;
}
.map_wrap .location_tool .tools .wrap {
  display:none;
}
.map_wrap .location_tool .tools .close {
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 17px;
  color: white;
}
.map_wrap .location_tool input {
  box-shadow: none;
}

.address_input {
  width:253px;
  padding-left:25px;
  background:url(/images/layout/y2g_sprites.png) no-repeat white;
  background-position:-11px -18px;
  float:left;
  margin-bottom:8px;
}
  .address_input:focus {
    background:url(/images/layout/y2g_sprites.png) no-repeat white;
  }
.map_wrap .location_tool_submit {
  color:white;
  background:#82c442;
  line-height:28px;
  font-size:17px;
  display:inline-block;
  text-align:center;
  width:25px;
  height:28px;
  float:left;
}
.map_wrap .location_tool_submit:hover {
  text-decoration:none;
  background:#719a2c;
}
.radius_box {
  float:left;
  margin-right:8px;
  height:50px;
  color:white;
  font-size:14px;
  text-transform:uppercase;
  position:relative;
}
.radius_input {
  width: 40px;
  height: 35px;
  font-size: 20px;
  display: block;
  background: none;
  color: white;
  text-align: right;
  font-weight: 600;
  border: none;
}
.radius_box .lc {
  position: absolute;
  right: -5px;
  bottom: 1px;
  color: white;
}

.radius_slider {
  float:left;
  width:200px;
  margin: 4px 8px 26px 20px;
  height:45px;
  cursor: pointer;
  background: none;
}

.map_tools_top {
  height:30px;
  max-width: 100%;
  margin-bottom:-40px;
  z-index:70;
  overflow:visible;
  pointer-events: none;
}
  .map_tools_top > * {
    pointer-events: all;
  }
.map_wrap .map_spacer {
  height:100%;
}
.map_wrap .map_tools_bottom {
  height:20px;
  margin-top:-10px;
  z-index:75;
}
.map_wrap .map_tools_bottom .lower_left {
  position:absolute;
  bottom:0;
  left:10px;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}
.map_wrap .map_tools_bottom .lower_left a {
  float:left;
  margin-right:5px;
}

.lower_left > a, .top_right > a {
  height:15px;
  background:black;
  display:block;
  width:18px;
  color:white;
  padding:5px;
  text-align:center;
}
.lower_left > a:hover, .top_right > a:hover {
  background:#5a5a5a;
  text-decoration:none;
}
#expand_map {
  font-size:20px;
  line-height:20px;
}
#expand_map:hover {
  background:#5a5a5a;
  text-decoration:none;
}
#edit_listing, #map_new_listing {
  font-size:12px;
  line-height:16px;
  text-transform:uppercase;
  width:auto;
  padding:5px 10px;
}
#edit_listing .fa {
  font-size:13px;
  line-height:20px;
}
#map_new_listing {
  background:url(/images/layout/y2g_sprites.png) no-repeat #f05139;
  background-position:8px -42px;
  padding-left:20px;
}
#map_new_listing:hover {
  background-color:#c92128;
}

.map_wrap .show_listings {
  position:absolute;
  right:10px;
  top:0;
  font-size:12px;
  line-height:18px;
  text-transform:uppercase;
  width:auto;
  padding:5px 10px;
  height:20px;
  z-index: 71;
  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  -o-transition:all .5s ease-out;
  transition:all .5s ease-out;
}
.map_wrap .show_listings .fa {
  font-size:17px;
  line-height:18px;
  float:left;
  margin-right:8px;
  padding-top:2px;
}
.map_wrap .show_listings .text {
  float:left;
}

.map_wrap .listings_wrap {
  position:absolute;
  right:10px;
  height:0;
  top:0;
  width:300px;
  overflow:auto;
  overflow-y:scroll;
  background:black;
  padding-bottom:0;
  -webkit-overflow-scrolling: touch;
}
.listings_wrap .listings {
  margin:0;
  padding:0 5px;
  background: black;
}
.listings_wrap .listings > li, .listing-cards > li {
  list-style-type: none;
  margin-bottom: 5px;
  height: 38px;
  width: 100%;
  position: relative;
  margin: 3px 0;
  box-sizing: border-box;
}
.listings_wrap .listings > li:last-child, .listing-cards > li:last-child {
  margin-bottom:15px;
}
.listings_wrap .listings > li > a, .listing-cards > li > .card {
  height:100%;
  width:100%;
  display:block;
  background:url(/images/layout/y2g_sprites.png) no-repeat white;
  background-position:0 10px;
}

.listings_wrap .listings > li:visited a, .listing-cards > li:visited .card {
  border-right:4px solid blue;
}
.listings_wrap .listings > li.current a, .listing-cards > li.current .card{
  background-color: #ffceaa;
}

.listings_wrap .listings > li.gardener > a, .listing-cards > li.gardener > .card {
  background-position:6px -69px;
}
  .listings_wrap .listings > li.gardener > a:hover, .listing-cards > li.gardener > .card:hover {
    background:url(/images/layout/y2g_sprites.png) no-repeat #f2e96c; background-position:6px -69px;
  }
.listings_wrap .listings > li.space > a, .listing-cards > li.space > .card {
  background-position:7px -101px;
}
  .listings_wrap .listings > li.space > a:hover, .listing-cards > li.space > .card:hover {
    background:url(/images/layout/y2g_sprites.png) no-repeat #f2e96c; background-position:7px -101px;
  }
.listings_wrap .listings > li.organic > a, .listing-cards > li.organic > .card {
  background-position:7px -131px;
}
  .listings_wrap .listings > li.organic > a:hover, .listing-cards > li.organic > .card:hover {
    background:url(/images/layout/y2g_sprites.png) no-repeat #f2e96c; background-position:7px -131px;
  }
.listings_wrap .listings > li.tools > a, .listing-cards > li.tools > .card {
  background-position:6px -161px;
}
  .listings_wrap .listings > li.tools > a:hover, .listing-cards > li.tools > .card:hover {
    background:url(/images/layout/y2g_sprites.png) no-repeat #f2e96c; background-position:6px -161px;
  }

.listings_wrap .listings > li a .title,
.listings_wrap .listings > li a .desc,
.listings_wrap .listings > li a .date,
.listing-cards > li .card .title,
.listing-cards > li .card .desc,
.listing-cards > li .card .date {
  position:absolute;
}
.listings_wrap .listings > li a .title,
.listing-cards > li .card .title {
  top:7px;
  left:40px;
  font-size:11px;
  line-height:11px;
  font-weight:bold;
  color:black;
}
.listings_wrap .listings > li a .desc,
.listing-cards > li .card .desc {
  top:20px;
  left:40px;
  font-size:11px;
  line-height:11px;
  color:black;
}
.listings_wrap .listings > li a .date,
.listing-cards > li .card .date {
  top:6px;
  right:8px;
  color:#b6b2b3;
  font-size:9px;
}

/* Profiles */

.modal-profile .account h3 {
  margin-bottom: 10px;
}

/* Profile View */
.profile-view .item {
  margin-bottom: 8px;
}
.profile-view .info {
  text-align: left;
  width: 280px;
  margin: 20px auto;
}
.profile-view .listings {
  margin: 20px 0;
}


/* Forms */
.new-password {
  height: 0;
  overflow: hidden;
  opacity: 0;
}
  .new-password .field:first-child {
    margin-top: 0;
  }

/* Sign Up */
.sign-up {
  max-width: 600px;
  margin: 0 auto;
}
.gardener-profile-signup {
  display: none;
}

/* New listings */

.new-listing {
  width: 100%;
  overflow:hidden;
  padding: 40px 0 20px;
}
  .new-listing .steps {
    position: fixed;
    top: 10px;
    padding-top: 8px;
    border-bottom: 1px solid #acaa90;
    text-align: left;
    margin: 0px 0 15px;
    padding-bottom: 7px;
    left: 20px;
    right: 20px;
    background: white;
    z-index: 1;
    box-shadow: 0 10px 10px white;
  }
  .new-listing .step:last-child {
    /*padding-left: 2.2%;*/
  }
  .new-listing .steps li {
    display: inline-block;
    color: #acaa90;
    font-size: 14px;
    text-transform: lowercase;
    list-style-type: none;
  }
    .new-listing .steps li:after {
      content: '\f04b';
      font-family: "FontAwesome";
      margin: 0 10px;
      color: #acaa90;
      font-size: 10px;
    }
    .new-listing .steps li a {
      color: #acaa90;
    }
    .new-listing .steps li.current a, .new-listing .steps li a:hover {
      color: #f05139;
    }
  .new-listing .steps li:last-child:after {
    display: none;
  }
  .new-listing .steps-container {
    width: 300%;
    position: relative;
  }
  .new-listing h3 {
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
  }
  .new-listing .step {
    padding: 15px 15px;
    width: 33.3%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .new-listing .step:current {

  }
  .choose-type {
    display: block !important;
    margin-bottom: 5px;
  }
  .choose-type a {
    color: black;
    width: 48%;
    margin: 15px 4% 15px 0;
    height:20px;
    text-align: center;
    padding-top: 50%;
    display: block;
    float: left;
    opacity: .4;
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    text-decoration: none;
  }
    .choose-type a span {
      opacity: 0;
      text-decoration: none;
      font-weight: normal;
      line-height: 16px;
      font-size: 14px;
      -webkit-transition:all .25s ease-in-out;
      -moz-transition:all .25s ease-in-out;
      -o-transition:all .25s ease-in-out;
      transition:all .25s ease-in-out;
    }

    /* remove this to have it be a 4-square */
    .choose-type a {
      width: 22%;
      padding-top: 22%;
    }
    .choose-type a:nth-child(2n) {margin-right: 4%;}
    .choose-type a:last-child {margin-right: 0;}
    /* end 4-square */

    .choose-type a:nth-child(2n) {margin-right: 0;}
    .choose-type a:hover, .choose-type a.active, .choose-type a.active span, .choose-type a:hover span {
      opacity: 1;
    }
    .choose-type a.gardener {
      background:url(/images/svg/gardener.svg) top left no-repeat;
      background-size: 100%;
    }
    .choose-type a.space {
      background:url(/images/svg/space.svg) top left no-repeat;
      background-size: 100%;
    }
    .choose-type a.tools {
      background:url(/images/svg/tools.svg) top left no-repeat;
      background-size: 100%;
    }
    .choose-type a.organic {
      background:url(/images/svg/organic.svg) top left no-repeat;
      background-size: 100%;
    }

  .new-listing input.location {
    width: 78%;
    margin-top: 15px;
  }
    .step.location.results input.location, .step.location.results .get-location, .step.location.results > h3 {
      opacity: .4;
    }
    .step.location.results input.location:focus, .step.location.results input.location:focus + .get-location {
      opacity: 1
    }
  .new-listing .get-location {
    display: inline-block;
    margin-left: 10px;
  }
    .step.location.results .get-location {
      background-color:#acaa90;
    }
  #location-results {
    position: relative;
    min-height: 80px;
    margin-top: 20px;
    -webkit-transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
  }
    #location-results.searching {
      background: url(/images/lyra/loading.gif) center center no-repeat;
    }
    #location-results > * {
      display: none;
    }
    .step.location.results #location-results > * {
      display: block;
    }

  .location-results {
    margin: 15px 0;
    max-height: 180px;
    min-height: 25px;
    overflow: auto;
    padding-bottom: 30px;
    width: 99.8%;
  }
    #location-results:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      right: 0;
      background: url(/images/layout/fade-post.png) bottom left repeat-x;
    }
    .chosen #location-results > h3 {
      opacity: .4;
    }
    .location-results .loc {
      opacity: 0;
      padding: 10px 20px;
      text-align: center;
      border: 1px solid white;
      border-bottom: 1px dotted #dddabc;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-transition:all .25s ease-in-out;
      -moz-transition:all .25s ease-in-out;
      -o-transition:all .25s ease-in-out;
      transition:all .25s ease-in-out;
    }
    .location-results .loc:hover {
      border: 1px solid #f05139;
    }
    .location-results .loc:hover a {
      color: #f05139;
    }
    .location-results .loc.active {
      border: 1px solid #489247;
    }
    .location-results .loc.active a {
      color: #489247;
    }

  .show-gardener, .show-space,
  .show-tools, .show-organic {
    display: none;
  }
  .gardener .show-gardener,
  .space .show-space,
  .organic .show-organic,
  .tools .show-tools {
    display: block;
  }


/* Edit Listings */
.edit-listings {

}
.edit-listings > li {
  display: block;
  float: left;
  width: 100%;
  max-width: 270px;
  margin-right: 20px;
  border: 1px solid black;
}
.edit-listings > li:nth-child(3n) {
  margin-right: 0;
}
.edit-listings > li .panel {
  display: none;
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 36px;
  text-align: center;
  background-color: rgba(255,255,255,.9);
  color: #b6b2b3;
  z-index: 10;
}
.edit-listings > li:hover .panel {
  display: block;
}
.edit-listings > li .panel .fa {
  display: inline-block;
  margin: 0 30px;
  font-size: 23px;
  line-height: 38px;
  color: black;
}
.edit-listings > li .panel .fa:hover {
  color: #f05139;
}
.edit-listings .editing .edit-listing-form {
  display:none;
  height: auto;
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  height: 200px;
  background: white;
  border: 3px solid black;
}

.edit-listings li.editing {
  height: auto;
}
.edit-listings li.editing .card,.edit-listings li.editing .panel {
  display: none;
}
.edit-listings li.editing .edit-listing-form {
  display: block;
}

.edit-listing-form .choose-type a {
  opacity: .2;
}
.edit-listing-form .choose-type a.active {
  opacity: 1;
}

.edit-listing-form .field label {
  text-align: left;
  font-weight: bold;
  width: 100%;
}

.edit-listing-form .type-box {
  padding-top: 50px;
}
.edit-listing-form.space .type-box {
  background: url(/images/svg/space.svg) center top no-repeat;
  background-size: 50px;
}
.edit-listing-form.gardener .type-box {
  background: url(/images/svg/gardener.svg) center top no-repeat;
  background-size: 50px;
}
.edit-listing-form.tools .type-box {
  background: url(/images/svg/tools.svg) center top no-repeat;
  background-size: 50px;
}
.edit-listing-form.organic .type-box {
  background: url(/images/svg/organic.svg) center top no-repeat;
  background-size: 50px;
}





/* Content Styles */

.content_wrap {
  padding-bottom:60px;
}

.content_wrap .content {
  min-height:240px;
  margin:35px auto 100px;
}
.home .content_wrap .content .post{
  width:100%;
}

.post {
  font-size:16px;
  line-height:23px;
  font-weight:300;
}
  .home .post {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
  }
.post p {
  margin-bottom:12px;
}
.post .note {
  max-width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.post.left {
  width:100%;
  box-sizing: border-box;
}


.box-btns {
  width:100%;
}
  .home .box-btns {
    max-width: 600px;
  }
  .box-btns-large {
    margin-top: 25px;
  }
.box-btns .box-dotted {
  height:0;
  padding-top: 33%;
  width:100%;
  max-width: 330px;
  background:url(/images/svg/box-dotted.svg) no-repeat;
  background-position:center center;
  background-size: 98%;
  display:block;
  float:left;
  margin-bottom:10px;
  position:relative;
  color: black;
}
.box-btns-large .box-dotted {
  background:url(/images/svg/box-dotted-large.svg) no-repeat;
  padding-top: 53%;
  max-width: 330px;
}
.box-btns .box-dotted:first-child {
  margin-top: 15px;
}
.box-btns .box-dotted:nth-child(2n) {
}
.box-btns .box-dotted:before {
  content: '';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  font-family: "FontAwesome";
}
.box-btns .box-dotted.gardener:before {
  background:url(/images/svg/gardener.svg) 20px center no-repeat;
  background-size: 20%;
}
.box-btns .box-dotted.space:before {
  background:url(/images/svg/space.svg) 20px center no-repeat;
  background-size: 20%;
}
.box-btns .box-dotted.organic:before {
  background:url(/images/svg/organic.svg) 20px center no-repeat;
  background-size: 20%;
}
.box-btns .box-dotted.tools:before {
  background:url(/images/svg/tools.svg) 20px center no-repeat;
  background-size: 20%;
}

.box-btns .box-dotted:before {
  opacity: .6;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}
.box-btns .box-dotted:hover:before {
  opacity: 1;
}

.box-btns .box-dotted.public:before,
.box-btns .box-dotted.spread:before,
.box-btns .box-dotted.test:before,
.box-btns .box-dotted.team:before {
  top: 28%;
  left: 8%;
  font-size: 40px;
  color: black;
}

.box-btns .box-dotted.public:before {
  content: "\f041"; /* "\f19c" bank */
  color: #3fa947;
  font-size: 45px;
  left: 10%;
}
.box-btns .box-dotted.spread:before {
  content: "\f0a1";
  color: #2ebadb;
}
.box-btns .box-dotted.test:before {
  content: "\f1b3";
  color: #c383a7;
}
.box-btns .box-dotted.team:before {
  content: "\f0c0";
  color: #e3662b;
}

.box-btns .box-dotted .title {
  position:absolute;
  top:20%;
  left: 28%;
  text-transform:uppercase;
  font-weight:bold;
  font-size:17px;
}
  .box-btns-large .box-dotted .title {
    left: 28%;
  }
.box-btns .box-dotted .description {
  position:absolute;
  top: 44%;
  left: 28%;
  line-height:17px;
  font-size:13px;
  font-weight:500;
  padding-right:12%;
}
  .box-btns-large .box-dotted .description {
    top: 32%;
    left: 28%;
  }


/* Sidebar */

.sidebar {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  float: right;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 2px solid #b6b2b3;
}
  .home .sidebar {
    max-width: 600px;
    float: none;
    border-top: none;
    margin-top: 25px;
    float: left;
  }

  .sidebar h2 {

  }
  .sidebar h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .sidebar p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .sidebar .item {
    margin-bottom: 25px;
  }
.embed-form {
  width: 100%;
}



/* Specific IDs */


.message, .alert {
  top: 100px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  min-height: 35px;
  position: fixed;
  z-index: 130;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 1px 3px 20px black;
  border-radius: 15px;
  moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  display: none;
  font-weight: 500;
  text-align: center;
}
  .message .close, .alert .close {
    display:block;
    font-size:15px;
    position:absolute;
    top:5px;
    right:0;
    cursor: pointer;
  }
  .message .close:after, .alert .close:after {
    content: '';
    font-family:'FontAwesome';
    padding:10px;
  }


.modal {}


  .map_modal_bg {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:black;
    opacity:.2;
    display:none;
    z-index:69;
  }

  /* Login Styles */
  .login_screen {

  }
  .register {
    display:none;
  }

  .login_modal {
    width:500px;
    margin-left:-250px;
  }



  /* Footer Styles */

  .footer_wrap {
    min-height:17px;
    position:absolute;
    bottom:0;
  }

  footer {
    position:relative;
  }
  footer.fullmap {
    position: fixed;
    bottom:10px;
    left:0;
    width: 100%;
    background: white;
  }

  .menu-wrap_footer {
    float:left;
  }
  .menu-wrap_footer .menu {
    padding:0;
  }

  footer .credit {
    float:right;
    font-size:10px;
    letter-spacing:.5px;
    color:white;
    text-transform:uppercase;
    margin-right: 7%;
  }
  footer .credit a {
    color:white;
    font-weight:bold;
    text-transform:uppercase;
  }
  .footer-links {
    display: none;
  }


#beta-message {
  position: absolute;
  top: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  left: 89px;
  background: white;
  color: white;
  border-radius: 0;
  z-index: 1000;
  height: 27px;
  line-height: 20px;
  width: 60px;
  margin-left: 0;
  text-indent: -2000em;
  background: url(/images/svg/beta2.svg) bottom left no-repeat;
  background-size: 49px;
}
