.footer-lite
  .copy Copyright © Yards to Gardens 2007-2015 Y2G.org
  if user
    | you are logged in as #{user.name}
  else
    a#show_login.login_button.login.openmodal(data-modaltype='login', href='/account/login/') Login
    a.login_button.openmodal.signup(href='/account/sign-up/', data-modaltype='sign-up') Sign Up
