.footer-lite
  .profile-options
    a.edit_profile.openmodal(href="/account/profile/", data-modaltype="profile", ) View Profile
    | &nbsp;&nbsp;|&nbsp;&nbsp;
    a.edit_listings.openmodal(href="/listings/edit", data-modaltype="edit-listings", ) Your Listings
  .copy Copyright © Yards to Gardens 2007-2015 Y2G.org
  | you are logged in as #{user.name}
