#nav.nav.right
  #menu.menu-main-container(class='.menu-wrap')
    ul#menu-main.menu-main.menu
      li.menu-item(class=(title === 'Home' ? 'active' : ''))
        a(href='/') Home
      li.menu-item(class=(title === 'About' ? 'active' : ''))
        a(href='/about') About
      li.menu-item(class=(title === 'Resources' ? 'active' : ''))
        a(href='/resources') Resources
      li.menu-item(class=(title === 'Contact Us' ? 'active' : ''))
        a(href='/contact') Contact
