extends ../../basic

block content
  h1 Help us improve the site!&nbsp;&nbsp;&nbsp;
    span.purple.fa &#xf1b3;
  h3 Be our beta-tester!
  p We are technically in Beta of our new site, and will be adding new features over the next few months.  We would love your patronage and feedback on use of the site.
  p Here's how to help:
  ol
    li Use the site (sign up for an account, create a listing, respond to a listing...etc)
    li Take screenshots of any bugs that pop up
    li Fill out our Y2G Beta Feedback Form:
      br
      br
      a.btn-small(href="https://docs.google.com/forms/d/12qa6c-YGVyiwPAlOuQSylCt3IedFgn8t8MgG6bgJYXE/viewform?usp=send_form", target="_blank") Open the Form &raquo;
      br
      br
  h3 Full Testing Process
  p If you want to really help us out, make sure to go through each of the following steps:
  ol
    li Go to stage.y2g.org and use the site (On phone, tablet...etc is fine)
    li Keep using it–try everything you can, click on everything. (maybe phone this time)
    li Keep on using it... (used your laptop yet?)
    li If you haven't already, Sign Up for an account (or a few)
    li Create a few listings (Fake or real, doesn't matter, just make a few, try to use different addresses)
    li Try and find some other people's listings and Message them (san francisco or NYC is a good bet, try and find a stranger)
    li Flag a listing you find to be inappropriate. ;)
    li Logout and Forget your password
    li Edit your profile
    li Read any of the materials (privacy policy, terms of use, information on how to help...etc) and note spelling errors or things that don't make sense.
  p Take screenshots of things that don't look right (if you don't know how, don't worry), and just send us a note saying how it went.
  p Again, thank you so much for your help–you really are helping to create Y2G.
  p
    a(href="/help") &laquo; Back to Volunteer Page

block sidebar
  include ../../snippets/sidebar/t-shirt.jade
