extends ../../basic

block content
  h1 Help us improve the site!&nbsp;&nbsp;&nbsp;
    span.purple.fa &#xf1b3;
  h3 Be our beta-tester!
  p We are technically in Beta of our new site, and will be adding new features over the next few months.  We would love your patronage and feedback on use of the site.
  p Here's how to help:
  ol
    li Use the site (sign up for an account, create a listing, respond to a listing...etc)
    li Take screenshots of any bugs that pop up
    li Fill out our Y2G Beta Feedback Form:
      br
      br
      a.btn-small(href="https://docs.google.com/forms/d/12qa6c-YGVyiwPAlOuQSylCt3IedFgn8t8MgG6bgJYXE/viewform?usp=send_form", target="_blank") Open the Form &raquo;
      br
      br
  p
    a(href="/help") &laquo; Back to Volunteer Page

block sidebar
  include ../../snippets/sidebar/t-shirt.jade
