extends ../../basic

block content
  h1 Contribute to Y2G.org!&nbsp;&nbsp;&nbsp;
    span.orange.fa &#xf0c0;
  h3 Open Source Project looking for contributions
  p Are you a front or back-end developer, a web designer, or an animator? If you are a creative professional with the desire to contribute to this project, we would love to find a way to use your work.
  p <strong>Stack:</strong> Express, Node.js, MongoDB, Google Maps
  h3 For Node.js & MongoDB Developers
  p Please fork <a href="https://github.com/lyradesigns/Y2G" target="_blank">Yards to Gardens</a> on Github.  We welcome submissions of new functionality or tools.  We also could use inidividuals with experience managing open source projects to organize this process.  The site was built by one programmer and one designer, and we will not have the bandwidth to manage everything moving forward.  We welcome your suggestions and input.
  ul Some features we're working on
    li Veggie Sharing
    li Better knowledge sharing tools
    li Bulk listing import
  ul Some features we would like
    li Site security Audit and suggestions
    li Gardening events
    li Personal Garden profiles
    li Listing Scraper =)
  h3 For front-end Developers
  p If you have good experience designing and implementing Google Maps API, or developing powerful U/X solutions, please send us a note.  There will be small and large changes moving forward, and we would welcome your ideas and front-end dev.
  p If you're interested in helping out, fork us on <a href="https://github.com/lyradesigns/Y2G" target="_blank">Github</a>, make your improvements, and submit them.  You can also contact us at jonas@y2g.org.
  h3 For Designers and Animators
  p Y2G is just a vehicle to create more gardens in urban environments–if you have an idea for how to create more gardens, and want to use Y2G as a platform, we welcome your energies.  We have put together a <a href="https://www.dropbox.com/sh/q0earhkhutp2qq1/AABv4Mbog7ie1X_nCt7Zt6cIa?dl=0" target="_blank">Dropbox of Materials</a> for you to start from if you want to play around.  If there's something missing you would like access to just shoot a request over to jonas@y2g.org.
  p If you create something for Y2G, we will credit you either in our "credits" section (for visual assets like icons) or on the item itself (as with a photograph).
  ul Some things we would love:
    li Any marketing materials (Posters, flyers, decals, photos)
    li More custom icons (could be anything gardening related, maybe a discussion is in order)
    li Some cool animations (sheep mowing a lawn)
    li Interesting products to spread the word (pins, banners, slogans, google ads)
    li You got an idea?  Send it over!
  p
    a(href="/help") &laquo; Back to Volunteer Page

block sidebar
  include ../../snippets/sidebar/t-shirt.jade
  h3 Any Feedback?
  p Do you have any ideas for how we improve the site?
    br
    | Click the link below and send us your thoughts.
  p
    a.action-btn(class="btn-small give-feedback", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
