extends ../../basic

block content
  h1 Help us gather public listings!&nbsp;&nbsp;&nbsp;
    span.light-green.fa &#xf041;
  h3 Every city in the world has free resources to help people garden.
    br
    | Let's get them on the map.
  br
  p When people come to Yards to Gardens, we want them to immediate see all the possibilities for how they can start a new garden. But there's a lot of cities out there, and too many different resources for us to add them all, so we need volunteers to collect free "public" resources to list on Y2G.org (read about <a href="/about-public-listings">public listings</a>).
  a.btn(href="https://docs.google.com/a/lyradesigns.com/forms/d/1X21wSGgkd8TqiyJuzR3gs4eXbdj2rntT84Gj3y5VSAA/viewform?usp=send_form", target="_blank") Add a Public listing
  p Here's a few free resources you may have available in your town:
  ul.block-items
    li Community Gardens
    li City Composting
    li Tool Libraries
    li Coffee Grounds for Composting
    li Free Trellis Recyclables
    li Worm Farms
    li Free Mulch (be careful of treated wood mulch)
    li Leftover Wood
    li Seedlings
    li Extra Seeds
  p Once you've found a few resources, either reach out to the owners to create the listings for them, or fill out our <a href="https://docs.google.com/a/lyradesigns.com/forms/d/1X21wSGgkd8TqiyJuzR3gs4eXbdj2rntT84Gj3y5VSAA/viewform?usp=send_form" target="_blank">Public Listing Form</a>.  Make sure to select the "Public Listing" and "Use Exact Location" check boxes. Once we check and list them they will be on the Y2G map for others to use!
  p If you haven't yet, read a bit more about <a href="/about-public-listings">Public Listings</a>.
  p
    a(href="/help") &laquo; Back to Volunteer Page

block sidebar
  include ../../snippets/sidebar/t-shirt.jade
  h3 Any Feedback?
  p Do you have any ideas for how we imrove the site?
    br
    | Click the link below and send us your thoughts.
  p
    a.action-btn(class="btn-small give-feedback", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
