extends ../../basic

block content
  h1 Spread the Word!&nbsp;&nbsp;&nbsp;
    span.light-blue.fa &#xf0a1;
  p If you like what we're doing, the best thing you can do is tell a friend you think would be interested. =) That being said, here's a couple of ways you can help out:
  h3 Social Media
  p Click the links on the top right to follow our <a href="https://www.facebook.com/yardstogardens" target="_blank">facebook</a> or <a href="https://twitter.com/yardstogardens" target="_blank">Twitter</a> pages (we post some pretty great articles), or share some awesome images with us on <a href="https://www.pinterest.com/yardstogardens/" target="_blank">Pinterest</a>.
  p If you are a social media expert, or like to blog about awesome garden-happenings, we would love to highlight the work you do.  We will be launching a blog on the site, and partnering with other communities of gardeners and eco-warriors.  <a href="/contact">Send us a note</a> if you have ideas.
  h3 Tell your community
  p Do you belong to a gardening list-serve?  Maybe you are in a class about gardening?  Or you subscribe to a gardening publication?  Whatever it is, there may be people there who could use Y2G.
  h3 Pass out flyers or create other materials
  p Make a flyer about Yards to Gardens and pass it out. This <a href="https://www.dropbox.com/sh/q0earhkhutp2qq1/AABv4Mbog7ie1X_nCt7Zt6cIa?dl=0" target="_blank">Y2G dropbox folder</a> has some good materials for you to use.  If you make some good flyers, send them our way (There's a couple in there you can use too).
  h3 Write about Y2G!
  p Wanna write a blog?  Maybe you want to do your dissertation on urban gardening and how it effects community dynamics?  Go for it!  Maybe we can help (maybe we can't). Last time we launched, we had someone who tried to survive solely off of food they gardened in various lawns they found on Y2G..  interesting, eh?
  p Maybe you want to write an article.  Wouldn't it be nice if we had a press-packet? ...(workin on it)
  p
    a(href="/help") &laquo; Back to Volunteer Page
block sidebar
  include ../../snippets/sidebar/t-shirt.jade
  .item
    h3 Got some hot outreach ideas?
    p Do you have any ideas for how we can reach more people?
      br
      | Click the link below and send us your thoughts.
    p
      a.action-btn(class="btn-small give-feedback", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
