.item
  h3 Get a Y2G T-shirt
  p Get that "Lawn-Killer" look AND support us for our work! =) <a href="http://lyra.spreadshirt.com/customize/noCache/1" target="_blank">Y2G Shirts!</a>  Get 'em while they're hot!
  a(href="http://lyra.spreadshirt.com/customize/noCache/1", target="_blank")
    img(src="http://image.spreadshirt.com/image-server/v1/products/1004678904/views/1,width=190,height=190,rotateX=0,rotateY=-20,rotateZ=0.png/yards-to-gardens-men-s-t.png", width="150")
    img(src="http://image.spreadshirt.com/image-server/v1/products/1004679001/views/2,width=280,height=280,rotateX=0,rotateY=-20,rotateZ=0.png", width="150")
