extends ../basic

block content
  h1 About Public Listings
  p When you mark a listing as “Public” on Y2G, it means you are agreeing that this listing is a resource which is public in nature, and includes information which is freely available elsewhere online or in a public forum.
  ul That could include:
    li Community gardens
    li City tool library
    li City mulch program
    li Public gardening resources
  ul This does not include:
    li Private listing
    li Any personal property or spaces
    li Any gardener listing
    li Stores or Businesses
      br
      | (the exception being if they're giving gardening resources away for free)
  p If you see a posting that does not follow these criteria, please&nbsp;
    span.red.fa &#xf024;&nbsp;Flag It
    | &nbsp;and we will have it removed.
  p In addition, if Y2G is contacted by an officiate or owner of that public listing requesting access to modify or delete the listing, they will be given ownership of the listing upon verification.  In the event of disputed ownership, Y2G will remove the listing from the website.
  p You may not under any circumstances create listings with other person’s private information including phone numbers, addresses, or other sensitive information.  If you do so, you are accepting legal responsibility for any legal repercussions.  If your listing is flagged for violation of these terms, you will be banned from Y2G.org.

block sidebar
  h3 Any Feedback?
  p Do you have any ideas for how we improve the site?
    br
    | Click the link below and send us your thoughts.
  p
    a.action-btn(class="btn-small give-feedback", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
