extends ../basic

block content
  h1 About Yards to Gardens
  h2 Our Story
  p Long long ago... in a land called Eng-land. There were some dudes with lots of money.  So they bought a ton of sheep.  Cause that's what you do with money, right?
  p Other dudes were like, "Oh man, I wish I was like them. Look at their fancy houses, and servants, and LOOK AT ALL THOSE SHEEP!" (oh and the grass, it's short, cause sheep eat grass).
  p ..Then things changed and the cool guys didn't keep their sheep around the house anymore.  But when other dudes would come by, they were worried they would think they weren't still cool (like when the sheep were there), so they had the servants cut the lawn AS IF there were sheep.. even though there were no sheep.
  p Fast foward 500 years..
  p The year is 1976, Maude the sheep was born in Blue Earth County, MN, just outside of Mankato.  He had a nice, fluffy coat of wool, leather boots and a some kickin' retro 40's glasses.  He gave away the boots when he was 10 because sheep don't wear boots, and set off to explore the countryside.
  p Maude had inherited his ancestor's memories through their DNA and a series of revelatory Jungian dreams, and knew that lawns were a sign of wealth, to show you owned sheep.  So everywhere he went, he was confused, because there were SO MANY lawns! but..
  p No sheep. The cool dudes were STILL cutting their grass to fool people into thinking they had sheep. Except EVERYONE was doing it, and there were even neighborhood ordinances telling people "YOU MUST GROW GRASS AND CUT YOUR LAWN AND PRETEND YOU HAVE SHEEP".  And instead of servants people used gas-guzzling lawn-mowers, and also pesticides, and weed-killer.
  p So Maude made a plan. He started selling his wool to pay for HTML classes at the local community college, and in just a few short years, he had the skills he needed to spread his message:
  p Get rid of your lawns.. And stop being sheep.
  p - Y2G

block sidebar
  include ../snippets/sidebar/t-shirt
  include ../snippets/sidebar/volunteer
