extends ../basic

block content
  h1 How do we protect your privacy?
  h2 Listing Location
  p By default, our map will display a marker on random location within a block or two of the location you entered for your listing. This ensures that your exact location is never shared publicly.
  p.note You can bypass this by checking the box to display a marker on your exact location. This can be useful for things like community gardens or public spaces, or if you want people to know your exact location.
  p We also will never share your listing addresses or your account email address.  When people send you a message, your address will be encoded specifically for each message.
block sidebar
  p sidebar content
