extends ../basic

block content
  h1 How do we protect your privacy?
  h3 Listing Location
  p By default, our map will display a marker on random location within a block or two of the location you entered for your listing. This ensures that your exact location is never shared publicly.
  p.note You can bypass this by checking the box to display a marker on your exact location. This can be useful for things like community gardens or public spaces, or if you want people to know your exact location.
  h3 Private Information
  p We also will never share your listing addresses or your email address.  When people send you a message, your email address will not be shared with anyone, but will instead be encoded specifically for each message.  However, you are always welcome to share your real email, address or phone number with people you meet through y2G.
  h3 Public Information
  p One thing we will share publicly is your Display Name, your gardener profile, and any listings you have posted (including all relevant information besides addresses and emails), and we may open our API up to other websites to include our listings as a resource on their maps.  Again, your email and physical addresses will not be shared.
  p We will do everything in our means to protect the information you submit to Y2G, but cannot be liable for information you share
  h2 Privacy Policy
  p This privacy policy discloses the privacy practices for Y2G.org. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
  ul
    li What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.
    li What choices are available to you regarding the use of your data.
    li The security procedures in place to protect the misuse of your information.
    li How you can correct any inaccuracies in the information.
  h3 Information Collection, Use, and Sharing
  p We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
  p We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
  p Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
  h3 Your Access to and Control Over Information
  p You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
  ul
    li See what data we have about you, if any.
    li Change/correct any data we have about you.
    li Have us delete any data we have about you.
    li Express any concern you have about our use of your data.
  h3 Security
  p We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
  p Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.
  p While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
  h3 Updates
  p Our Privacy Policy may change from time to time and all updates will be posted on this page.
  p If you feel that we are not abiding by this privacy policy, you should contact us immediately via our <a href="/contact">contact form</a>.
  h3 Sharing
  p We share aggregated demographic information with our partners. This is not linked to any personal information that can identify any individual person.
  p We use an outside shipping company to ship orders, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes beyond filling your order.
  h3 Surveys and Contests
  p From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.

block sidebar
  h3 Any Feedback?
  p Do you have any ideas for how we could improve our privacy practices or policy?  Click the link below and send us your thoughts.
  p
    a.action-btn(class="btn-small give-feedback", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
