extends ../basic

block content
  h1 Terms of Use
  p.note This Agreement was last modified on February 7, 2015.
  p Please read these Terms of Service completely using Y2G.org which is owned and operated by Yards to Gardens. This Agreement documents the legally binding terms and conditions attached to the use of the Site at Y2G.org.
  p By using or accessing the Site in any way, viewing or browsing the Site, or adding your own content to the Site, you are agreeing to be bound by these Terms of Service.
  h3 Intellectual Property
  p The Site and all of its original content are the sole property of Yards to Gardens and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.
  h3 Termination
  p Yards to Gardens reserves the right to terminate your access to the Site, without any advance notice.
  h3 Links to Other Websites
  p Our Site does contain a number of links to other websites and online resources that are not owned or controlled by Yards to Gardens.
  p Yards to Gardens has no control over, and therefore cannot assume responsibility for, the content or general practices of any of these third party sites and/or services. Therefore, we strongly advise you to read the entire terms and conditions and privacy policy of any site that you visit as a result of following a link that is posted on our site.
  h3 Governing Law
  p This Agreement is governed in accordance with the laws of New Jersey, United States.
  h3 Changes to This Agreement
  p Yards to Gardens reserves the right to modify these Terms of Service at any time. We do so by posting and drawing attention to the updated terms on the Site. Your decision to continue to visit and make use of the Site after such changes have been made constitutes your formal acceptance of the new Terms of Service.
  p Therefore, we ask that you check and review this Agreement for such changes on an occasional basis. Should you not agree to any provision of this Agreement or any changes we make to this Agreement, we ask and advise that you do not use or continue to access the Yards to Gardens site immediately.
  h3 Contact Us
  p If you have any questions about this Agreement, please feel free to contact us at hello@y2g.org.

block sidebar
  h3 Any Feedback?
  p Do you have any ideas for how we could improve our terms of use?  Click the link below and send us your thoughts.
  p
    a.action-btn(class="btn-small", target="_blank", href="https://docs.google.com/forms/d/1dWcBTyEpZ7A2f02Kg47JfOpsXm9Ss8P9rfSUPzG3mH4/viewform?usp=send_form") Give Feedback
